.sidebar{
    height: 100vh !important;
    /* border-radius: 5px; */
    background-color: #ca2626;
    box-shadow: 0 0 2px rgb(31, 28, 28);
    color: white;
}

.menu{
    padding-top: 60%;
}
.menu-item{
    padding-top: 30px;
    padding-left: 50px;
}
.menu-item a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.menu-item i{
    font-size: 1.5rem;
    margin: 0 15px;
    color: white;
}
.active{
    background-color: white;
    padding: 10px
}
.active a, .active i{
    color: #ca2626;
}

